body {
  font-family: 'Roboto', serif;
  font-size: 1em;
}

header {
  max-width: 100%;
  font-size: 2em;
  margin: 0;
  text-align: center;
  background: #F44336;
  color: #fff;
}

#wrapper {
  margin: 0 15%;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 1.5em;
  padding: 5% 0 2% 0;
  margin: 0;
}

.gist {
  max-width: 70%;
  margin-left: 10%;
}

.progress-bar {
  max-height: 12px;
  border-style: solid;
  border-color: #272727;
  border-width: 1px;
  border-radius: 5%;
  max-width: 50%;
  background: green;
  background-size: 10%;
  padding: 0.3em;
}

#good  {
    background: linear-gradient(-90deg, white 25%, green 5%);
}

#bad {
    background: linear-gradient(-90deg, white 75%, red 5%);
    margin: 10px 0;
}

#ugly {
    background: linear-gradient(-90deg, purple 33%, orange 5%);
}
