body {
  max-width: 80%;
  margin-left: 10%;
  margin: 2% 5% 5% 10%;
}

nav {
  max-width: 100%;
  font-size: 3em;
  margin: 0.5em 0 0.9em 0;
  text-align: center;
}

.progress-bar {
  max-height: 12px;
  border-style: solid;
  border-color: #272727;
  border-width: 1px;
  border-radius: 5%;
  max-width: 50%;
  background: green;
  background-size: 10%;
  padding: 0.3em;
}

.progress-bar-2  {
  max-height: 12px;
  border-style: solid;
  border-color: #272727;
  border-width: 1px;
  border-radius: 5%;
  max-width: 50%;
  background: green;
  background-size: 10%;
  padding: 0.3em;
  background: linear-gradient(-90deg, white 50%, green 50%);
}

#good  {
    background: linear-gradient(-90deg, white 25%, green 5%);
}

#bad {
    background: linear-gradient(-90deg, white 75%, red 5%);
    margin: 10px 0;
}

#ugly {
    background: linear-gradient(-90deg, purple 33%, orange 5%);
}
